.wrapper {
  margin-top: 20px;
  background-color: #000;
  display: flex;
  width: 97px;
  height: 43px;
  justify-content: center;
  align-items: center;
  clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
  .button {
    padding: 13px;
    width: 95px;
    height: 41px;
    box-sizing: border-box;
    border: none;
    outline: 0;
    clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
    background-color: white;
    font-weight: 700;
  }
}
