.wrapper {
  margin-top: 20px;
  width: 87px;
  height: 87px;
  background-color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
  p {
    color: #fff;
    font-size: 3.5rem;
    @media screen and (max-width: 768px) {
      font-size: 1.5rem;
    }
  }
  margin-right: 10px;
  &:last-child {
    margin-right: 0;
  }
  @media screen and (max-width: 768px) {
    width: 32px;
    height: 32px;
    margin-right: 1px;
  }
  .hexagon {
    width: 85px;
    height: 85px;
    padding: 13px;
    box-sizing: border-box;
    border: none;
    outline: 0;
    clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
    font-size: 2rem;
    font-weight: 600;
    @media screen and (max-width: 768px) {
      width: 30px;
      height: 30px;
    }
    &.error {
      background-color: rgba(234, 255, 0, 0.5);
      color: white;
    }
    &.correct {
      background-color: rgba(0, 128, 0, 0.5);
      color: white;
    }
    &.disabled {
      background-color: #fff;
    }
  }
}
